html, body {
	margin: 0;
	background: var(--color-background-tertiary);
	color: var(--color-text-normal);
	font-family: 'Monorale', sans-serif;
	font-weight: 500;
	font-size: 20px;
	overflow-x: hidden;
}

:root {
	--color-accent: #ff84bd;
	--color-text-normal: #eeeeee;
	--color-text-muted: #ac94c1;
	--color-text-dark: #2b2231;

	--color-background-primary: #403349;
	--color-background-secondary: #362a3f;
	--color-background-tertiary: #2b2231;
	--color-background-accent: #6a597a;
}



.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	/* background-image: url("https://cdn.discordapp.com/attachments/811746620035170325/973824101124800513/wallpaperflare.com_wallpaper5.jpg"); */
	background-position: center;
	background-size: cover;
	transform: scale(110%);
	/* filter: blur(15px); */
}

.root {
	position: relative
}

.content {
	display: flex;
	flex-direction: column;
	margin: 200px;
	margin-top: 80px;
	margin-bottom: 40px;
}

.song-search {
	display: flex;
	flex-direction: column;
}

.textfield {
	font-size: 16px;
	border-style: none;
	border-radius: 5px;
	padding: 5px 8px 5px 8px;
	margin-top: 5px;
	margin-bottom: 8px;
	background: var(--color-background-accent);
	color: var(--color-text-normal);
}

.song-search {
	margin-bottom: 20px;
}



.song {
	display: flex;
	flex-direction: column;
	padding: 12px;
	margin-bottom: 14px;
	background: var(--color-background-primary);
	border-radius: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
	transition: box-shadow 0.2s;
}

.song:hover {
	box-shadow: 2px 2px 10px 6px rgba(0,0,0,0.2);
}

.song__title {
	padding-bottom: 4px;
	margin-bottom: 8px;
	display: flex;
	align-items: flex-end;
	font-weight: 600;
	border-bottom: 1px solid var(--color-accent);
	color: var(--color-accent);
	align-self: stretch;
}

.song__artist,
.song__charter {
	color: var(--color-text-muted);
	font-size: 0.7em;
	margin-bottom: 1px;
	font-weight: 600;
	margin-left: 8px;
}

.song__charter {
	margin-left: auto;
}

.song__info {
	color: var(--color-text-muted);
	font-size: 0.8em;
	font-weight: 500;
}

.song__hash {
	color: var(--color-text-dark);
	background: var(--color-accent);
	margin-top: 10px;
	font-size: 0.9em;
	font-weight: 600;
	padding: 4px 8px;
	border-style: none;
	border-radius: 5px;
	align-self: flex-start;
	/* align-self: stretch;
	text-align: center; */
}


/* .song__hash:focus {
	outline: none;
} */